<div class="min-h-screen w-full bg-skin">
  <div class="w-full px-4 sm:px-6 lg:px-8 py-6 sm:py-8 lg:py-12">
    
    <!-- Tables Header Section -->
    <div class="mb-8 lg:mb-12 max-w-7xl mx-auto">
      <h2 class="text-xl sm:text-2xl lg:text-3xl font-bold text-text-dark mb-3">Tabelle</h2>
      <p class="text-lg sm:text-xl text-text-default mb-8">Alle Aufgaben in der Tabellenansicht</p>
      <p class="text-lg sm:text-m italic text-right mb-8">Beta Version!</p>

    </div>

    <!-- Task Table Section -->
    <div class="max-w-7xl mx-auto">
      <app-task-display mode="table"></app-task-display>
    </div>
    
  </div>
</div>
